.alt-header {
    padding: var(--horizontal-space);
    margin-bottom: 15px;
    display:flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.alt-header__title {
    font-size: 20px;
    font-weight: 400;
}

.alt-header__column:first-child {
    margin-right: auto;

}
.alt-header__column:nth-child(2) {
    text-align: center;
}
.alt-header__column:nth-child(3) {
    display: flex;
    justify-content: flex-end;
}

 /*아이콘사이 간격늘리기