
.user-comp {
    justify-content: space-between;
}
.user-comp 
.user-comp__column:first-child  {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px black;
  /* flex-direction: column; */
}

.user-comp__avatar {
    width: 70px; 
    height: 70px;
    object-fit: cover;
    border-radius: 30px;
    margin-right: 20px;
}
.user-comp__title {
    font-weight: 600;
    font-size: 18px;
}
.user-comp__subtitle {
    margin-top: 3px;
    font-weight: 200;
    font-size: 14px;
    color: gray;
}
.user-comp__avatar-60 {
    width: 65px; 
    height: 65px;
    object-fit: cover;
    border-radius: 28px;
    margin-right: 20px;
}
.user-comp__title-notbold {
    font-weight: 500;
}

.user-comp__column:last-child {
    color: gray;
        margin-left: auto;
    }
